.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  background-color: var(--dark);
  padding: 10px;
}
.pagination li {
  padding: 10px;
}

.pagination a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.pagination__link--active {
  color: black;
  border-radius: 10px;
  background: rgb(160, 83, 160);
  border-color: violet;
}

.pagination__link--disabled a {
  color: rgb(105 100 124);
}
.previous__Link__ClassName {
  color: white;
}
.next__Link__ClassName {
  color: white;
}
