.movie-card {
  width: 240px;
  height: 400px;
  margin: 20px 30px;
  border-radius: 10px;
  position: relative;
}
.movie-card img {
  border-radius: 10px;
  border-bottom: 0;
}

.movie-card {
  overflow: hidden;
}

.movie-card img {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.movie-card:hover img {
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.movie-details {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #0000009c;
  color: var(--white);
  height: 100px;
  padding: 20px;
}
.movie-details h4 {
  margin: 5px 0;
}
.movie-details p {
  margin: 5px 0;
  font-size: 12px;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: red;
  cursor: pointer;
}
