.movie-card {
  width: 220px;
  height: 400px;
  margin: 20px 30px;
  border-radius: 10px;
  position: relative;
}
.movie-card img {
  border-radius: 10px;
  border-bottom: 0;
}
.movie-details {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #0000009c;
  color: var(--white);
  height: 100px;
  padding: 20px;
}
.movie-details h4 {
  margin: 5px 0;
}
.movie-details p {
  margin: 5px 0;
  font-size: 12px;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: red;
  cursor: pointer;
}
