.movies__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie_item {
  align-self: flex-start;
}

.no-Result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  color: white;
}
