.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  justify-items: center;
}
.movie-item {
  align-self: flex-start;
}

.no-Result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  color: white;
}
