@import 'font-awesome';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #6125a5;
}
:root {
  /* --dark: #2f3640; */
  --dark: #3a424d;
  --white: #ffffff;
  --backGround: #6125a5;
  --active: violet;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
